/* HOLA SOY EL ROOT NO ME CAMBIES PORQUE SOY EL QUE MANDA LAS VARIABLES */

:root {
    /*========== Colores ==========*/
    --title-color: #157033;
    --text-color: #44a75d;
    --text-color-light: #6eb67e;
    --container-color:linear-gradient(#8cf89c91,#ffffff);
    --container-color-footer:linear-gradient(#ffffff,#8cf89c91);
    --container-color-negro: #000000;
    --container-color-alt: #ffffff;
  }
  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: var(--text-color);
}





/* E M P I E Z A   L A   B A R R A   D E   N A V E G A C I O N   R E S P O N S I V E  */
nav{
    display: flex;
    width: 100%;
    background: var(--container-color);
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;

}

nav .icon{
    font-size: 35px;
    font-weight: 800;
    color: var(--title-color);
    cursor: pointer;
}

nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;

}

nav ol li{
    margin: 0 2px;
    
}

nav ol li a{
    color: var(--title-color);
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}


nav ol li:hover a{
   
    color: var(--text-color-light);
}

nav .serach__box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

nav .serach__box input{
    border: none;
    outline: none;
    background: white;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
}

nav .serach__box span{
    color:rgb(5, 49, 49);
    font-size: 20px;
    background: white;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;


}

nav .serach__box span:hover{
    color: aliceblue;
}

nav .serach__box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background: tomato;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}
nav .serach__box span:hover::after {
    width: 100%;
}

nav .bar{
    position: relative;
    margin: auto;
    display: none;
}
nav .bar span{ 
    position: relative;
    color: aliceblue;
    font-size: 35px;

}

/* Soy una etiqueta que se marca como error pero soy
 de prueba en lo que miguel logra encontar que hacer  */

input[type="checkbox"]{
    -webkit-appearance: none; 
    display: none;
}


    /* ============ parte responsive del navegador ============= */
 @media screen and (max-width:1250px){
    nav{
        display: block;
        padding: 0;
        
    }
    nav .icon{
        display: inline-block;
        padding: 15px 30px;
    }
    nav .serach__box{
        width: 100%;
        display: inline-block;
        justify-content: center;
        margin-bottom: 15px;
    }
    nav .serach__box input{
        width: 90%;
    }

    nav ol{
        display:flex;
        flex-direction: column;
        background: white;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
        
    }

    nav ol li{
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    } 
    nav ol li a{
        color: black;
        font-size: 28px;
        padding: 25px;
        display: block;

    }
    nav ol li:nth-child(1){
        transform: translateX(-150px);

    }
    nav ol li:nth-child(2){
        transform: translateX(-200px);
        
    }
    nav ol li:nth-child(3){
        transform: translateX(-250px);
        
    }
    nav ol li:nth-child(4){
        transform: translateX(-300px);
        
    }
    nav ol li:nth-child(5){
        transform: translateX(-350px);
        
    }

    nav .bar{
        display: block;
        position: absolute;
        top:20px;
        right: 80px;
        cursor: pointer;

    }
    nav .bar #times{
        display: none;
    }
    #check:checked ~  nav .bar #times{
        display: block;
    }

    #check:checked ~  nav .bar #bars{
        display: none;
    }
    #check:checked ~ nav ol{
        visibility: visible;
        height: 465px;
    }
    #check:checked ~  nav ol li:nth-child(1),
    #check:checked ~  nav ol li:nth-child(2),
    #check:checked ~  nav ol li:nth-child(3),
    #check:checked ~  nav ol li:nth-child(4),
    #check:checked ~  nav ol li:nth-child(5) {
        transform: translateX(0);
        opacity: 1;
    }
}
 


/* T E R M I N A   L A   B A R R A   D E   N A V E G A C I O N   R E S P O N S I V E  */
/* &&&&&&& */
/* &&&&&&& */
/* &&&&&&& */




/* E M P I E Z A   E L   C O N T E N I D O   A Q U I */ 
 .contenido{  /* Esto es momentaneo lo pueden cambiar */
    background:var(--container-color-alt);
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0;
    z-index: -1; /* para estar debajo de todo y nunca ponerme sobre nada */
    filter: brightness(99%);    /* controlo la iluminacion de la imagen */
} 


/*AQUI EMPIEZA LO QUE ESCRIBI YO(ORLANDO)*/
div.titulo-tabla{
    display: block;
    margin: auto;
    max-width: 500px;
    padding: 5px;
    width: 100%;
}

.titulo-tabla h3{
    color: #44a75d;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

.tabla-contenido{
    background: white;
    border-radius: 2px;
    border-collapse: collapse;
    height: 300px;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
}

.imagen-registro{
    width: 75px;
}

/*Fila de Arriba*/
th{
    color: black;
    background-color: lightgreen;
    border-bottom: 4px solid black;
    border-right: 1px solid black;
    font-size: 20px;
    font-weight: 100;
    padding: 22px;
    text-align: left;
    vertical-align: middle;
}
/*A*/

th:first-child{
    border-top-left-radius: 10px;  /*Esquina de arriba izquierda de la tabla*/
}

th:last-child{
    border-top-right-radius: 10px;  /*Esquina de arriba a la derecha de la tabla*/
    border-right: none;
}

tr{
    border-top: 2px solid black;        /*Bordes entre filas*/
    border-bottom: 2px solid black;     /*Bordes entre filas*/
    font-size: 15px;
    font-weight: normal;
}

tr:hover td{
    background-color: lightgreen;            /*hover de algunas filas*/
    color: black;
}

tr:first-child{
    border-top: none;  /*Borde de arriba del todo del a tabla*/
}


/* Borde de abajo del todo de la tabla
tr:last-child{
    border-bottom: none;
}
*/

tr:nth-child(odd) td{
    background: white;  /*Color de algunas filas*/
}

tr:nth-child(odd):hover td{
    background: lightgreen;        /*hover de las filas de arriba*/
}

tr:last-child td:first-child{
    border-bottom-left-radius: 10px; /*Esquina inferior izquierda*/
}

tr:last-child td:last-child{
    border-bottom-right-radius: 10px;    /*Esquina inferior derecha*/
}

td{
    background: white;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    border-right: 1px solid black;  /*Bordes verticales entre columnas*/
    border-left: 1px solid black;
}

/*BOTONES*/
.boton{
    color: black;
    background-color: white;
    border: 2px lightgreen solid;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    top: -750px;
    right: -50px;
}

.boton:hover{
    color: black;
    background-color: lightgreen;       /*PARA EL EFECTO DE LOS BOTONES*/
    border: 2px black solid;
    transition: 0.4s;
}
/*AQUI ACABAN LOS BOTONES*/



/*AQUI TERMINA LO QUE ESCRIBIO EL PENDEJO DE ARRIBA*/










/* T E R M I N A   E L   C O N T E N I D O   A Q U I */ 
/* &&&&&&& */
/* &&&&&&& */
/* &&&&&&& */



/* ========== F O O T E R ============  */
footer{
    
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--container-color-footer);
    color: var(--title-color);
}

.footer__container{
    justify-content: center;
    align-items: center;
    padding: 30px;
    
    display: flex;
    
}


.footer__container .footer_tarjeta{
    width: 350px;
    border-radius: 10px;    
    margin: 30px 10px;
    display: flex;
}
.footer__container .footer_tarjetaE{
    width: 750px;
    border-radius: 10px;    
    margin: 30px 10px;
    display: flex;
}

.footer__container .footer_tarjetaE .imgbx{
   
    margin: 5px;
    align-items: center; 
    position: relative;
    width: 500px;
    
    left: 20px; 
}

.footer__container .footer_tarjetaE .imgbx p{
    padding-left: 20px;
     text-align: justify;
     font-size: 25px;
     transition: all 800ms ease;
 }
 
 .footer__container .footer_tarjetaE .imgbx h2{
    color: var(--title-color);
     padding-top: 15px;
     text-align:center;
     font-size: 35px;
     transition: all 800ms ease;
 }

.footer__container .footer_tarjeta .imgbx{
    
    margin: 5px;
    align-items: center; 
    position: relative;
    width: 200px;
    
    left: 20px; 
}

.footer__container .footer_tarjeta .imgbx .redes__infor{
    display:inline-flex; 
    align-items: center; 
    margin-top: 10%;
    width: 200px;
    
}

.footer__container .footer_tarjeta .imgbx p{
   padding-left: 20px;
    text-align: justify;
    font-size: 20px;
    transition: all 800ms ease;
}

.footer__container .footer_tarjeta .imgbx h2{
    padding-top: 15px;
    
    text-align:center;
    font-size: 30px;
    transition: all 800ms ease;
}

.footer__container .footer_tarjeta .imgbx img{
 
    height: 35px;
    width: 35px;    
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 3%;
}


.copy{
    font-size: 25px;
    text-align: center;
}

.copy .logo{
    height: 25px;
    width: 25px;    
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 25%;
}