
/* HOLA SOY EL ROOT NO ME CAMBIES PORQUE SOY EL QUE MANDA LAS VARIABLES */

:root {
    /*========== Colores ==========*/
    --title-color: #157033;
    --text-color: #44a75d;
    --text-color-light: #6eb67e;
    --container-color:linear-gradient(#8cf89c91,#ffffff);
    --container-color-footer:linear-gradient(#ffffff,#8cf89c91);
    --container-color-negro: #000000;
    --container-color-alt: #ffffff;
  }
  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: var(--text-color);
}


/* E M P I E Z A   L A   B A R R A   D E   N A V E G A C I O N   R E S P O N S I V E  */
nav{
    display: flex;
    width: 100%;
    background: var(--container-color);
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;

}

nav .icon{
    font-size: 35px;
    font-weight: 800;
    color: var(--title-color);
    cursor: pointer;
}

nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;

}

nav ol li{
    margin: 0 2px;
    
}

nav ol li a{
    color: var(--title-color);
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}


nav ol li:hover a{
   
    color: var(--text-color-light);
}

nav .serach__box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

nav .serach__box input{
    border: none;
    outline: none;
    background: white;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
}

nav .serach__box span{
    color:rgb(5, 49, 49);
    font-size: 20px;
    background: white;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;


}

nav .serach__box span:hover{
    color: aliceblue;
}

nav .serach__box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background: tomato;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}
nav .serach__box span:hover::after {
    width: 100%;
}

nav .bar{
    position: relative;
    margin: auto;
    display: none;
}
nav .bar span{ 
    position: relative;
    color: aliceblue;
    font-size: 35px;

}

/* Soy una etiqueta que se marca como error pero soy
 de prueba en lo que miguel logra encontar que hacer  */

input[type="checkbox"]{
    -webkit-appearance: none; 
    display: none;
}


    /* ============ parte responsive del navegador ============= */
 @media screen and (max-width:1250px){
    nav{
        display: block;
        padding: 0;
        
    }
    nav .icon{
        display: inline-block;
        padding: 15px 30px;
    }
    nav .serach__box{
        width: 100%;
        display: inline-block;
        justify-content: center;
        margin-bottom: 15px;
    }
    nav .serach__box input{
        width: 90%;
    }

    nav ol{
        display:flex;
        flex-direction: column;
        background: white;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
        
    }

    nav ol li{
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    } 
    nav ol li a{
        color: black;
        font-size: 28px;
        padding: 25px;
        display: block;

    }
    nav ol li:nth-child(1){
        transform: translateX(-150px);

    }
    nav ol li:nth-child(2){
        transform: translateX(-200px);
        
    }
    nav ol li:nth-child(3){
        transform: translateX(-250px);
        
    }
    nav ol li:nth-child(4){
        transform: translateX(-300px);
        
    }
    nav ol li:nth-child(5){
        transform: translateX(-350px);
        
    }

    nav .bar{
        display: block;
        position: absolute;
        top:20px;
        right: 80px;
        cursor: pointer;

    }
    nav .bar #times{
        display: none;
    }
    #check:checked ~  nav .bar #times{
        display: block;
    }

    #check:checked ~  nav .bar #bars{
        display: none;
    }
    #check:checked ~ nav ol{
        visibility: visible;
        height: 465px;
    }
    #check:checked ~  nav ol li:nth-child(1),
    #check:checked ~  nav ol li:nth-child(2),
    #check:checked ~  nav ol li:nth-child(3),
    #check:checked ~  nav ol li:nth-child(4),
    #check:checked ~  nav ol li:nth-child(5) {
        transform: translateX(0);
        opacity: 1;
    }
}
 


/* T E R M I N A   L A   B A R R A   D E   N A V E G A C I O N   R E S P O N S I V E  */
/* &&&&&&& */
/* &&&&&&& */
/* &&&&&&& */




/* E M P I E Z A   E L   C O N T E N I D O   A Q U I */ 
 .contenido{  /* Esto es momentaneo lo pueden cambiar */
    background:var(--container-color-alt);
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0;
    z-index: -1; /* para estar debajo de todo y nunca ponerme sobre nada */
    filter: brightness(99%);    /* controlo la iluminacion de la imagen */
} 

/*YO (ORLANDO) ESCRIBIO ESTE CSS AQUI POR QUE TIENE PEREZA*/

.titulo{
    text-align: center;     /*CENTRA EL TITULO*/
}

.centro{
    display: flex;
    justify-content: center;        /*CENTRA LOS SECTION/DIV*/
    align-items: center;
}

.container{
    font-size: 20px;
    max-width: 600px;               /*TAMAÑO DE LETRA Y DEL CONTAINER*/
    width: 100%;
}

.container2{
    font-size: 24px;
    max-width: auto;
    width: 800px;                   /*LO MISMO DE ARRIBA PERO CON EL OTRO CONTAINER*/
    margin: 15px;
    text-align: justify;
}

.centro-botones{
    display: flex;
    justify-content: center;
    align-items: center;            /*PARA MOVER LOS BOTONES*/
    position: relative;
    top: -125px;
}

.producto{
    margin: 60px;
    padding: 20px;
    width: 300px;
}

.boton{
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;              /*DISEÑO DE LOS BOTONES*/
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.compra{
    background-color: transparent;
    color: #000000;
    border: 2px solid #6eb67e;
}

.compra:hover{
    background-color: #44a75d;              /*EFECTO DEL BOTON COMPRA*/
    color: white;
}

.carrito{
    background-color: transparent;
    color: #000000;
    border: 2px solid lightskyblue;         
}

.carrito:hover{
    background-color: lightskyblue;         /*EFECTO DEL BOTON CARRITO*/
    color: white;
}


/*DESPUES DE ESTO YA NO ESCRIBIO NADA*/



/* T E R M I N A   E L   C O N T E N I D O   A Q U I */ 
/* &&&&&&& */
/* &&&&&&& */
/* &&&&&&& */



/* ========== F O O T E R ============  */
footer{
    
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--container-color-footer);
    color: var(--title-color);
}

.footer__container{
    justify-content: center;
    align-items: center;
    padding: 30px;
    
    display: flex;
    
}


.footer__container .footer_tarjeta{
    width: 350px;
    border-radius: 10px;    
    margin: 30px 10px;
    display: flex;
}
.footer__container .footer_tarjetaE{
    width: 750px;
    border-radius: 10px;    
    margin: 30px 10px;
    display: flex;
}

.footer__container .footer_tarjetaE .imgbx{
   
    margin: 5px;
    align-items: center; 
    position: relative;
    width: 500px;
    
    left: 20px; 
}

.footer__container .footer_tarjetaE .imgbx p{
    padding-left: 20px;
     text-align: justify;
     font-size: 25px;
     transition: all 800ms ease;
 }
 
 .footer__container .footer_tarjetaE .imgbx h2{
    color: var(--title-color);
     padding-top: 15px;
     text-align:center;
     font-size: 35px;
     transition: all 800ms ease;
 }

.footer__container .footer_tarjeta .imgbx{
    
    margin: 5px;
    align-items: center; 
    position: relative;
    width: 200px;
    
    left: 20px; 
}

.footer__container .footer_tarjeta .imgbx .redes__infor{
    display:inline-flex; 
    align-items: center; 
    margin-top: 10%;
    width: 200px;
    
}

.footer__container .footer_tarjeta .imgbx p{
   padding-left: 20px;
    text-align: justify;
    font-size: 20px;
    transition: all 800ms ease;
}

.footer__container .footer_tarjeta .imgbx h2{
    padding-top: 15px;
    
    text-align:center;
    font-size: 30px;
    transition: all 800ms ease;
}

.footer__container .footer_tarjeta .imgbx img{
 
    height: 35px;
    width: 35px;    
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 3%;
}


.copy{
    font-size: 25px;
    text-align: center;
}

.copy .logo{
    height: 25px;
    width: 25px;    
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 25%;
}


